.carousel {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 4fr 1fr;
}

.left-arrow,
.right-arrow {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: auto;
  display: flex;
  justify-content: space-around;
}

img {
  max-height: 300px;
}

.circles {
  display: flex;
  gap: 1rem;
  align-items: center;
  grid-area: 2/2/3/3;
  justify-content: center;
}
